* {
    background-color: #aec1f9;
    }
    img {
    width: 100%;
    object-fit: cover;
    }
    h2, p {
    font-family: 'Raleway', sans-serif;
    }
    a {
    text-decoration: none;
    color: #eafbf0;
    }
    #hero {
    grid-column: 1 / -1;
    position: relative;
    text-align: center;
    }
    header {
    justify-content: flex-end;
    position: positioned;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    
    }
    